* {
  margin: 0;
  padding: 0;
}

#myCarousel img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.heading {
  padding: 5px;
  background-color: rgba(0, 0, 0, 1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.float {
  float: right;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

.contacts {
  text-align: center;
}

/*Styling for Akan.html*/
.title {
  text-align: center;
}

.birthday {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
